<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cachebot</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="/main.css">
	<link href="https://fonts.googleapis.com/css?family=Asap|BioRhyme" rel="stylesheet">

</head>
<body>
	
	<header>
		<div class="wrap">
			<h1>Cachebot</h1>
			<h2>A simple Facebook Messenger bot to update Facebook link previews</h2>
		</div>
	</header>


	<div class="wrap">
		

		<div class="row">
			<div class="col33">
				Rich link previews can look great on Facebook.
				<img src="/fb_box.jpg" alt="Facebook link preview">
			</div>
			<div class="col33">
				But sometimes those previews are outdated, or are missing text—
				<img src="/fb_box_nodesc.jpg" alt="Facebook link preview missing text">
			</div>
			<div class="col33">
				or images.
				<img src="/fb_box_noimage.jpg" alt="Facebook link preview missing an image">
			</div>
		</div>

	</div>

</body>
</html>