<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cachebot</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="/main.css">
	<link href="https://fonts.googleapis.com/css?family=Asap|BioRhyme" rel="stylesheet">
	<script src="https://use.fontawesome.com/abe5b38225.js"></script>
</head>
<body>
	
	<div class="floating_chat">
		<a href="https://m.me/gocachebot" class="messenger_btn" target="_blank"><i class="fa fa-commenting"></i> Open FB Messenger</a>
	</div>

	<header>
		<div class="wrap">
			<h1>Cachebot</h1>
			<h2>A simple Facebook Messenger bot to update Facebook link previews</h2>

			<a href="https://m.me/gocachebot" class="top_messenger_btn" target="_blank"><i class="fa fa-commenting"></i> Open FB Messenger</a>
		</div>
	</header>


	<div class="wrap">
		

		<div class="row">
			<div class="col33">
				Rich link previews can look great on Facebook.
				<img src="/fb_box.jpg" alt="Facebook link preview">
			</div>
			<div class="col33">
				But sometimes those previews are outdated, or are missing text—
				<img src="/fb_box_nodesc.jpg" alt="Facebook link preview missing text">
			</div>
			<div class="col33">
				or images.
				<img src="/fb_box_noimage.jpg" alt="Facebook link preview missing an image">
			</div>
		</div>

	</div>
		
	<div class="wrap cachebot_outer">
		
		<h3>
			Cachebot updates those link previews.
		</h3>

		<div class="cachebot_preview">
			<img src="/cachebot_preview.gif" alt="How Cachebot works">
		</div>

	</div>

	<footer>
		<div class="wrap">
			Created by <a href="http://ryancatalani.com" target="_blank">Ryan Catalani</a>. Questions? Comments? Tweet at <a href="https://twitter.com/magicofpi" target="_blank">@magicofpi</a>. The code is open source and on Github.
		</div>
	</footer>

</body>
</html>