<!DOCTYPE html>
<html lang="en">
<head>
	<title>Cachebot</title>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="/main.css">
	<link href="https://fonts.googleapis.com/css?family=Asap|BioRhyme" rel="stylesheet">
	<script src="https://use.fontawesome.com/abe5b38225.js"></script>
</head>
<body>
	
	<div class="floating_chat">
		<a href="https://m.me/gocachebot" class="messenger_btn" target="_blank"><i class="fa fa-commenting"></i> Open FB Messenger</a>
	</div>

	<header>
		<div class="wrap">
			<h1>Privacy Policy for Cachebot</h1>
		</div>
	</header>


	<div class="wrap">

		<p>This policy applies to all information collected or submitted to Cachebot via its Facebook Messenger bot and any other devices and platforms.</p>
		<br>
		<p>As a registered Facebook user using our bot, you are also subject to Facebook's privacy policy. Please check your Facebook account privacy settings for further information.</p>
		<br>
		<h2>Information We Collect</h2>
		<p>We do not store your Facebook account information, and cannot access your Facebook account or post anything on your behalf. For the purposes of replying to your messages, Cachebot temporarily stores your Facebook Messenger Chat ID, and any content you send in those messages. At any time, you can revoke Cachebot’s access to your Facebook Messenger Chat ID by deleting the chat in Facebook Messenger.</p>
		<br>
		<p>Like most websites and apps, we also store information through the use of software that may be transparent to users. For example, we may log your IP address and general information about your browser or device.</p>
		<br>
		<h2>Analytics</h2>
		<p>We collect aggregate, anonymous statistics, such as the percentage of users who use particular features, to improve the app and prioritize future development efforts. Crash reports are also collected to help improve the app.</p>
		<br>
		<h2>Information usage</h2>
		<p>We use the information we collect to operate and improve our website, apps, and customer support. We do not share your personal information with outside parties except to the extent necessary to accomplish Cachebot’s functionality.</p>
		<br>
		<p>We may disclose your information in response to subpoenas, court orders, or other legal requirements; to exercise our legal rights or defend against legal claims; to investigate, prevent, or take action regarding illegal activities, suspected fraud or abuse, violations of our policies; or to protect our rights and property.</p>
		<br>
		<p>In the future, we may sell to, buy, merge with, or partner with other businesses. In such transactions, user information may be among the transferred assets.</p>
		<br>
		<h2>Security</h2>
		<p>We implement a variety of security measures to help keep your information secure. For instance, all communication with the app and website requires HTTPS. Your Facebook account information is never stored.</p>
		<br>
		<h2>California Online Privacy Protection Act Compliance</h2>
		<p>We comply with the California Online Privacy Protection Act. We therefore will not distribute your personal information to outside parties without your consent.</p>
		<br>
		<h2>Children’s Online Privacy Protection Act Compliance</h2>
		<p>We never collect or maintain information at our website from those we actually know are under 13, and no part of our website is structured to attract anyone under 13.</p>
		<br>
		<h2>Information for European Union Customers</h2>
		<p>By using Cachebot and providing your information, you authorize us to collect, use, and store your information outside of the European Union.</p>
		<br>
		<h2>International Transfers of Information</h2>
		<p>Information may be processed, stored, and used outside of the country in which you are located. Data privacy laws vary across jurisdictions, and different laws may be applicable to your data depending on where it is processed, stored, or used.</p>
		<br>
		<h2>Third-Party Services</h2>
		<p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that may appear on Cachebot, which are sent directly to users’ browser. They may automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>
		<br>
		<p>Note that Cachebot has no access to or control over these cookies that are used by third-party advertisers.</p>
		<br>
		<h2>Third-Party Privacy Policies</h2>
		<p>Cachebot’s Privacy Policy does not apply to other advertisers or websites. Please consult the respective Privacy Policies of these third-party ad servers for more detailed information. It may include their practices and instructions about how to opt-out of certain options. You can choose to disable cookies through your individual browser options. </p>
		<br>
		<h2>Your Consent</h2>
		<p>By using our site or services, you consent to this privacy policy.</p>
		<br>
		<h2>Contacting Us</h2>
		<p>If you have questions regarding this privacy policy, you may email <a href="mailto:ryan@ryancatalani.com">ryan@ryancatalani.com</a>.</p>

	</div>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', '<%= ENV["GA_TRACKING"] %>', 'auto');
	  ga('send', 'pageview');

	</script>

</body>
</html>