* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Cachebot */

body {
	font: 16px/1.3em 'Asap', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

header {
	font-family: 'BioRhyme', serif;
	color: #fff;
	background-color: #509ed6;
	background-image: -webkit-gradient(linear, left bottom, right top, from(rgb(80, 158, 214)), to(rgb(0, 105, 182)));
	background-image: -webkit-linear-gradient(left bottom, rgb(80, 158, 214), rgb(0, 105, 182));
	background-image: -moz-linear-gradient(left bottom, rgb(80, 158, 214), rgb(0, 105, 182));
	background-image: -o-linear-gradient(left bottom, rgb(80, 158, 214), rgb(0, 105, 182));
	background-image: -ms-linear-gradient(left bottom, rgb(80, 158, 214), rgb(0, 105, 182));
	background-image: linear-gradient(left bottom, rgb(80, 158, 214), rgb(0, 105, 182));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#509ed6', EndColorStr='#0069b6');
	padding: 20px 0;
}

h1 {
	font-size: 40px;
	line-height: 1em;
	margin-bottom: 10px;
}

h2 {
	font-size: 22px;
	line-height: 1.2em;
}

h3 {
	font: 20px/1em 'BioRhyme', serif;
}

.wrap {
	max-width: 750px;
	padding: 20px 5%;
	margin: 0 auto;
}

.wrap a:link, .wrap a:visited {
	color: #0069b6;
	text-decoration: none;
	border-bottom: 1px dashed #0069b6;
}

.wrap a:hover, .wrap a:active {
	color: #C81F25;
	border-bottom-color: #C81F25;
	cursor: pointer;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

img {
	width: 100%;
}

.col33 {
	width: 100%;
	float: none;
	margin-bottom: 20px;
}

.col33 img {
	margin-top: 10px;
}


@media(min-width: 750px) {
	.col33 {
		width: 31%;
		margin-left: 2%;
		float: left;
	}
	.col33:first-child {
		margin-left: 0;
	}
	.col33:nth-child(2) {
		margin-top: 100px;
	}
	.col33:last-child {
		margin-top: 200px;
	}
}

.cachebot_preview {
	border: 1px solid #ccc;
	border-radius: 5px;
	background: #fff;
	padding: 5px;
	margin-top: 20px;
}

.cachebot_outer {
	background: #509ed6;
	color: #fff;
	padding: 40px 5%;
	border-radius: 5px;
}

footer {
	background: #eee;
	margin-top: 50px;
	padding-bottom: 100px;
}

.floating_chat {
	position: fixed;
	bottom: 20px;
	right: 10px;
	z-index: 10;
}

a.messenger_btn:link, a.messenger_btn:visited {
	display: block;
	font-size: 20px;
	line-height: 1em;
	padding: 10px 20px;
	border-radius: 5px;
	text-decoration: none;
	color: #fff;
	border: 1px solid rgba(255,255,255,0.7);
	background-color: #509ed6;
	background-image: -webkit-gradient(linear, left bottom, right top, from(rgb(80, 158, 214)), to(rgb(0, 105, 182)));
	background-image: -webkit-linear-gradient(left bottom, rgb(80, 158, 214), rgb(0, 105, 182));
	background-image: -moz-linear-gradient(left bottom, rgb(80, 158, 214), rgb(0, 105, 182));
	background-image: -o-linear-gradient(left bottom, rgb(80, 158, 214), rgb(0, 105, 182));
	background-image: -ms-linear-gradient(left bottom, rgb(80, 158, 214), rgb(0, 105, 182));
	background-image: linear-gradient(left bottom, rgb(80, 158, 214), rgb(0, 105, 182));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#509ed6', EndColorStr='#0069b6');	
	-webkit-box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 100px 10px rgba(0,0,0,0.4);
}

a.messenger_btn:hover, a.messenger_btn:active {
	cursor: pointer;
	background-color: #48acf4;
	background-image: -webkit-gradient(linear, left bottom, right top, from(rgb(72, 172, 244)), to(rgb(80, 158, 214)));
	background-image: -webkit-linear-gradient(left bottom, rgb(72, 172, 244), rgb(80, 158, 214));
	background-image: -moz-linear-gradient(left bottom, rgb(72, 172, 244), rgb(80, 158, 214));
	background-image: -o-linear-gradient(left bottom, rgb(72, 172, 244), rgb(80, 158, 214));
	background-image: -ms-linear-gradient(left bottom, rgb(72, 172, 244), rgb(80, 158, 214));
	background-image: linear-gradient(left bottom, rgb(72, 172, 244), rgb(80, 158, 214));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#48acf4', EndColorStr='#509ed6');
	
}

a.top_messenger_btn:link, a.top_messenger_btn:hover {
	display: inline-block;
	background: #fff;
	font: 14px/1.3em 'Asap', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	padding: 5px 10px;
	border-radius: 5px;
	color: #509ed6;
	border: none;
	margin-top: 20px;
}